body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111414;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2D2E;
    padding: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2D2E;
    padding: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

select,
input,
textarea,
button {
    width: 200px;
    height: 40px;
    background-color: #1E2D2E;
    color: white;
    border: 1px solid #494D4B;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#form select:hover,
#form input:hover,
#form textarea:hover,
#form button:hover {
    background-color: #2E3D3E;
}

#card {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    background-color: #1E2D2E;
    padding: 2rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
}

#card > * {
    padding: 10px;
}

#infoarea {
    text-align: center;
}

#past-journals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}